/*

Block: sempre inicia uma nova linha que se expande por toda a largura

Inline: Não inicia uma nova linha, e só expande o tamanho do conteúdo.

*/

.block {
    background: blue;
    color: white;
    display: inline;
}

.inline {
    background: orangered;
    color: white;
    display: inline;
    display: block;
}
