/* 

absolute => é relativo ao elemento pai 
que está com (usa) relative
OBS: Se não tiver nenhum parent com position relative, o 
parent será o body.

*/

.nav {
    background: orangered;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;

    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
}

div {
    border: 3px solid red;
    background: yellow;
    margin-top: 40px;
}

.one {
    background-color: blue;
    color: white;
}

.two {
    background: green;
    color: white;
}

.special {
    background: pink;
    font-size: 20px;
    color: #222;
}

.container {
    min-height: 100vh;
    background: blue;
}
