
/*

    transition muda com o tempo
    
    property e duration

*/

div {
    width: 100px;
    height: 100px;
    background: blue;
    font-size: 24px;
    color: white;
    margin: 5px;
    transition: all 2s linear;
}

div:hover {
    transform: translateX(100px);
}

.ease {
    transition-timing-function: ease;
}

.linear {
    transition-timing-function: linear;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}
