/*
line height = altura das linhas / distância entre uma linha e outra
letter-spacing
word-spacing
text transform & decoration

*/

/*
    Se colocarmos o line-height com o número sem especificar o tipo da unidade
    como, px, em ..., seu valor será relativo ao tamanho da fonte.

    ou seja, o calculo funciona assim
    o valor que você inseriu multiplicado pelo tamanho da fonte.

    resumindo => dependendo do tamanho da fonte o valor da line-height será afetada.

*/

body {
    line-height: 1.5;
    text-transform: uppercase;
}

/*
    Colocando o tamanho da fonte do <h1/? para 40px, por exemplo, 
    e definindo a line-height do <body/> para todos os elementos como 1.5, 
    sem indicar o tipo da unidade,

    o valor do line-height do h1 será de 40px multiplicado por 1.5, o que dará o valor de 60px.

    h1 {
        font-size: 40px;
    }

*/

h1 {
    font-size: 40px;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    text-transform: uppercase;
}

.one {
    letter-spacing: 5px;
    line-height: 2.5;
    text-decoration: overline;
}

.two {
    word-spacing: 10px;
    text-transform: lowercase;
}

.three {
    text-transform: capitalize;
}

a {
    font-size: 3rem;
    text-decoration: none;
    text-transform: none;
}