* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgb(188, 238, 238);
}

.card {
    margin: 3rem auto;
    text-align: center;
    max-width: 300px;
    border-radius: 0.5rem;
    background: white;
    padding: 1.5rem 2rem;
    border: solid 1px transparent;
}

.card-red {
    border-color: #ff69a6;
}

.card-blue {
    border-color: #68a3ff;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}

.icon-red {
    background: #ff69a6;
}

.icon-blue {
    background: #68a3ff;
}

.heading {
    text-transform: capitalize;
    letter-spacing: 2px;
}

p {
    /* margin: 0.8rem auto; */
    line-height: 1.5;
    color: gray;
}

.button {
    background: rgba(236,112,147, 0.4);
    color: rgb(212, 112, 187);
    padding: 0.35rem 1rem;
    border-color: transparent;
    border-radius: 0.5rem;
    margin: 0.4rem auto 0.2rem auto;
}

.button-red {
    background: #ffe8f1;
    color: #ff69a6;
}

.button-blue {
    background: #ecf4ff;
    color: #68a3ff;
}
