* {
    margin: 0;
}

#navbar {
    height: 5rem;
}

.logo {
    font-size: 20px;
    color: orangered;
}

.hero {
    background: black;
    color: white;
    min-height: calc(100vh - 5rem);
}

.hero span {
    color: orangered;
}

.hero-btn {
    background: orangered;
    color: white;
    border-width: 0px;
}
