/*

REM - são valores relativos, depende do root <html/>.

1rem = 16px estilo padrão do navegador
1rem = valor base (16px) * número (1)

*/

/**********************************************************************/

/*

Ao declararmos o elemento html, ou seja o root, conseguimos controlar o 
tamanho da fonte, sobrescrevendo a configuração do navegador.

Este valor de 10px, será passado para os elementos filhos que utilizam
a unidade rem.

*/

html {
    font-size: 10px;
}

div {
    font-size: 10px;
}

.absolute {
    font-size: 32px;
}

/* 

Mesmo colocando o tamanho da fonte do elemento pai <div/>
como 10px, o elemento filho com a classe 'relative' não será alterado,
pois ele está utilizano a unidade rem, ou seja, depende do root (navegador / <html/>.


*/
.relative {
    font-size: 2rem;
}


