/* 

Sticky - entre relative e fixed
quando o viewport chega em certo ponto ele fixa (sticks),
algum dos valores: top, left, right e bottom.

*/

.nav {
    background: orangered;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;

    position: sticky;
    margin-top: 0;
    top: 0;

    width: 100%;

}

div {
    border: 3px solid red;
    background: yellow;
    margin-top: 40px;
}

.one {
    background-color: blue;
    color: white;
}

.two {
    background: green;
    color: white;
}

.special {
    background: pink;
    font-size: 20px;
    color: #222;
}

.container {
    min-height: 300vh;
    background: blue;
}
