* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: rgb(188, 238, 238);
}

.section {
    background: white;
    padding: 5rem 4rem;
    text-align: center;
}

.heading {
    margin: 1rem auto;
}

.title {

}

.bar {
    display: inline-block;
    background: blue;
    height: 4px;
    width: 20%;
}

.text {
    text-align: justify;
}
