/*

Block: navegador respeita a largura e a altura, e a margem top e baixo

Inline: navegador já não respeita esses valores, os ignora.



Box Sizing = border-box
Padrão: content-box


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-1, .box-2, .box-3 {
    width: 200px;
    height: 200px;
    color: white;
    font-size: 1.5rem;
}

.box-1 {
    background: orangered;
    padding: 20px;
}

.box-2 {
    background: blue;

}
.box-3 {
    background: green;
    padding: 20px;
}
