
/*
  transform: translate(), scale(), rotate(), skew()

    translate: x / y or both

*/

div {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.one {
    background: red;
    transform: skewX(40deg);
}

.two {
    background: blue;
    transform: skewY(40deg);
}

.three {
    background: green;
    transform: skew(40deg, 30deg);
}
