/*

Block: sempre inicia uma nova linha que se expande por toda a largura

Inline: Não inicia uma nova linha, e só expande o tamanho do conteúdo.


Centralização Horizontal

Centralizar inline elements temos que trabalhar com os elementos pai

*/

.block {
    background: blue;
    color: white;
    width: 300px;
    margin: 2rem auto;

}

.inline {
    background: orangered;
    color: white;

}

body {
    text-align: center;
}
