
/*

    transition muda com o tempo
    
    property e duration

*/

div {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.one {
    background: red;
}

.two {
    background: blue;
}

.three {
    background: green;

    /* transition-property: background, border-radius;
    transition-duration: 4s, 2s;
    transition-delay: 2s; */

    transition: background 2s 1s, border-radius 3s 2s;
    transition: all 2s 1s;

}

.three:hover {
    background: coral;
    border-radius: 50%;

    transform: scale(1.2);

}

