* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

.navbar {
    padding: 1.2rem 4rem;
    background: black;
    color: white;
    height: 5rem;
}

.section {
    background: linear-gradient(
            to left, 
            rgba(160, 120, 25, 0.6), 
            rgba(0, 0, 0, 0.5)
        )
        ,url(./hero-bcg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 5rem 4rem;
    height: calc(100vh - 5rem);
}

.section-body {
    color: white;
    width: 45vw;
    max-width: 1170px;
}

.section-title {
    font-size: 32px;
    letter-spacing: 1px;
}

.text {
    margin: 1.2rem 0;
    text-align: justify;
}

.btn {
    background: transparent;
    margin-top: 1rem;
    border: solid 1px white;
    color: white;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}
