/* 
    Elementos depois do elemento float ficarão em volta.
*/

.banner {
    border: solid 5px red;
    padding: 10px;
}

.one {
    float: left;
}

.two {
    float: right;
    height: 40px;;
}

p {
    clear: both;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div {
    background: linear-gradient(
        135deg,  
        rgba(255,175,75,1) 1%,
        rgba(224,103,214,1) 50%,
        rgba(99,175,242,1) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-center {
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.5));
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
    width: 90vw;
    max-width: 1170px;
} */
