header {
    background: #BBBBBB;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;

}