/*

CSS Box Model

Definição => Todo e qualquer elemento no CSS é representado
como uma box (caixa) e temos diversas propriedades para 
manipular essa box, como padding, border e margin.

Padding => é distância entre o conteúdo e a borda

Margin => margem, distância entre os outros 
elementos ou a borda da tela.

*/

* {
    margin: 0;
}

h1, p {
    color: white;
}

h1 {
    background: red;
    padding: 20px;
    margin: 3rem;

    /* border-style: solid;
    border-width: 10px;
    border-color: green; */

    /* border-bottom: 1vw double black; */

    border-bottom-style: double;
    border-bottom-color: green;
    border-bottom-width: 20px;

}

p {
    background: blue;
    border: 1rem dashed orangered;
    /* margin: 20px 40px; */
    margin: 4rem 4px 50px 10px;
    /* padding: 40px; */
    /* padding: 30px 60px; */
    padding: 5px 20px 50px 40px;
}
