body {
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
}

a {
    font-size: 3rem;
    text-decoration: none;

}


h1 {
    /* text-decoration: underline;
    text-decoration: line-through; */
    text-transform: uppercase;

}

.one {
    letter-spacing: 0.5rem;
    line-height: 2.5;
    text-decoration: overline;
}

.two {
    word-spacing: 10px;
    text-transform: lowercase;
}

.three {
    text-transform: capitalize;
}
